nav .navbar-brand {
    font-size: xx-large;
}

nav .navbar-brand .blue {
    color: #537fbe;
}

nav .navbar-brand .red {
    color: #ea433b;
}

nav .navbar-brand .yellow {
    color: #f5b82e;
}

nav .navbar-brand .green {
    color: #2e944b;
}

#question {
    margin-top: 0;
    margin-bottom: 0;
    font-family: WF Visual Sans,Arial,sans-serif;
    font-size: 2.713rem;
    font-weight: 600;
    line-height: 1.04;
    text-align: left;
}

#answer {
    margin-top: 0;
    margin-bottom: 0;
    font-family: WF Visual Sans,Arial,sans-serif;
    font-size: 2.213rem;
    font-weight: 600;
    line-height: 1.04;
    text-align: left;
}

body {
    background-color: #f7f7f7 !important;
}

.cardlist {
    background-color: #f7f7f7 !important;
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}

.card {
    border: 1px solid #e6e6e6;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.1);
}

.section-header {
    text-align: start;
    font-family: WF Visual Sans,Arial,sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.topic-header {
    text-align: center;
    font-family: WF Visual Sans,Arial,sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}