nav .navbar-brand {
  font-size: xx-large;
}

nav .navbar-brand .blue {
  color: #537fbe;
}

nav .navbar-brand .red {
  color: #ea433b;
}

nav .navbar-brand .yellow {
  color: #f5b82e;
}

nav .navbar-brand .green {
  color: #2e944b;
}

.navbar {
  z-index: 1000;
}

#question-text {
  margin-bottom: 20px;
}

#question-box {
  margin-top: 100px;
}


#question {
  margin-top: 0;
  margin-bottom: 0;
  font-family: WF Visual Sans, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.04;
  text-align: left;
  width: 100%;
}

#answer {
  margin-top: 0;
  margin-bottom: 0;
  font-family: WF Visual Sans, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.04;
  text-align: left;
}

#collapseExample .card-body h2 {
  margin-bottom: 4rem;
}

#collapseExample .card-body h3 {
  white-space: pre-wrap;
}

#collapseExample .card-body form button {
  margin-right: 1rem;
}

#collapseExample .card-body form button:last-child {
  margin-right: 0;
}

[data-bs-theme="dark"] .darkmode-image-filter {
  filter: brightness(0.7) contrast(1.2);
}

.cardlist {
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.card {
  border: 1px solid #e6e6e6;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.section-header {
  text-align: start;
  font-family: WF Visual Sans, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.topic-header {
  text-align: center;
  font-family: WF Visual Sans, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

pre code {
  white-space: pre-wrap;
  word-break: break-word;
}

.question-button-icon::before {
  font-size: 2rem;
}

.show-answer-button-container {
  z-index: 2;
}

.answer-button {
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.answer-button-icon {
  font-size: 1.75rem;
  text-align: center;
  margin-left: 0.5rem;
}

.indent {
  margin-left: 5px;
}

textarea {
  tab-size: 4;
}