{% extends "layout.html" %}

{% block title %}
About
{% endblock %}

{% block main %}

<p> Brain Gains is following the basic methods of the <a href="https://en.wikipedia.org/wiki/Leitner_system">Leitner
        System</a>.
    The use of spacing in our learning can lead to better retention of information. This is because the brain is better
    at
    remembering things that are spaced out over time. The Leitner System is a way to organize that spacing. This is
    similar to how a muscle should be broken down, and given time to repair itself stronger.


<p><img src="/static/2560px-Leitner_system_alternative.svg.png" alt="Leitner Learning System" width="500" height="300">
</p>

<p>
    In the above method, questions are sorted into groups according to how easily the learner was able to recall the
    answer. The learners
    try to
    recall the solution written to a question. Clicking to reveal the answer. Depending how difficult it was to recall
    the answer, the learner can rate their recall difficulty. The recall rating then determines when the questions is
    asked again.


</p>

<img src="/static/Leitner_system_animation.gif" alt="Animated gif of Leitner Learning System">
<p>
    In the above gif, we see that the first session starts with one container of questions. In the second
    session you're asked harder questions from the first session and the second containers questions. This process
    repeats until you're phased each question out into the final 5th container.
</p>
{% endblock %}