{% extends "layout.html" %}

{% block title %}
Create
{% endblock %}

{% block main %}
<form class="form-inline" action="/create" method="POST">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group mx-sm-3 mb-2">
                {% if topics[0] %}
                <label for="topic" class="sr-only"> Choose Existing Topic</label>
                <select class="form-control" id="topic" name="topic">
                    <option disabled>Choose a Topic</option>
                    {% for topic in topics %}
                        {% for each,count in counts.items() if each == topic %}
                            <option value="{{ topic }}">{{ topic }} > {{ count }} Questions</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                {% endif %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group mx-sm-3 mb-2">
                <label for="New" class="sr-only">New Topic</label>
                <input type="text" class="form-control" id="New" name="New">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" name="question" rows="5" autofocus></textarea>
    </div>
    <div class="form-group">
        <label for="answer">Answer</label>
        <textarea class="form-control" id="answer" name="answer" rows="5"></textarea>
    </div>
    <p>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2" value="Submit">SUBMIT</button>
    </div>
    </p>
</form>
{% endblock %}