{% extends "layout.html" %}

{% block title %}
Create
{% endblock %}

{% block main %}
<form class="form-inline" action="/create" method="POST">
    <div class="row">
        <div class="col-md-5">
            <div class="form-group mx-sm-3 mb-2">
                {% if topics_by_section %}
                <label for="existingsectionandtopic" class="sr-only">Existing Section and Topic</label>
                <select class="form-control" id="existingsectionandtopic" name="existingsectionandtopic">
                    <option disabled>Choose</option>
                    {% for section, topics in topics_by_section.items() %}
                        {% for topic_info in topics %}
                            {% set topic = topic_info.topic %}
                            <option value="{{ section }} > {{ topic }}"{% if section == latest_section and topic == latest_topic %}selected{% endif %}>{{ section }} > {{ topic }} > {{ counts[topic] }} Questions</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                {% endif %}
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="form-group mx-sm-3 mb-2">
                <label for="newsection" class="sr-only">New Section</label>
                <input type="text" class="form-control" id="newsection" name="newsection" placeholder="default">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="text-align-center">
            <h4>OR</h4>
        </div>
    </div>
    <div class="row">
        <div class="text-start col-md-5 mt-4">
            <p><a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Markdown Docs</a></p>
            <p><a href=https://www.markdownguide.org/extended-syntax/#fenced-code-blocks" target="_blank">Fenced Code Blocks</a></p>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="form-group mx-sm-3 mb-2">
                <label for="newtopic" class="sr-only">New Topic</label>
                <input type="text" class="form-control" id="newtopic" name="newtopic" placeholder="New Topic">
            </div>
        </div>
    </div>
    <div class="form-group text-start">
        <label for="toggle-tab">Tab Spacing</label>
        <button id="toggle-tab" class="btn btn-outline-secondary" type="button">
            <i id="toggle-icon" class="bi bi-toggle-off"></i>
        </button>
    </div>
    <div class="form-group">
        <label for="question">Question</label>
        <textarea class="form-control" id="question" name="question" rows="14" autofocus></textarea>
    </div>
    <div class="form-group">
        <label for="answer">Answer</label>
        <textarea class="form-control" id="answer" name="answer" rows="14"></textarea>
    </div>
    <p>
    <div class="form-group">
        <button type="submit" class="btn btn-primary mb-2" value="Submit">SUBMIT</button>
    </div>
    </p>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let tabEnabled = false;

        function enableTab(id) {
            var el = document.getElementById(id);
            el.addEventListener('keydown', function(e) {
                if (tabEnabled && e.key === 'Tab') {
                    e.preventDefault();
                    var start = this.selectionStart;
                    var end = this.selectionEnd;

                    // set textarea value to: text before caret + tab + text after caret
                    this.value = this.value.substring(0, start) + "\t" + this.value.substring(end);

                    // put caret at right position again
                    this.selectionStart = this.selectionEnd = start + 1;
                }
            });
        }

        enableTab('question');
        enableTab('answer');

        document.getElementById('toggle-tab').addEventListener('click', function(e) {
            e.preventDefault();
            tabEnabled = !tabEnabled;
            const icon = document.getElementById('toggle-icon');
            if (tabEnabled) {
                icon.classList.remove('bi-toggle-off');
                icon.classList.add('bi-toggle-on');
            } else {
                icon.classList.remove('bi-toggle-on');
                icon.classList.add('bi-toggle-off');
            }
        });
    });
</script>
{% endblock %}