{% extends "layout.html" %} {% block title %} Edit Topic {% endblock %} {% block main %} 

<form action="/editTopic/{{ topic }}" method="POST">
  <div class="form-row mx-auto" style="width: 500px">
    <div class="form-group col-md-12">
      <label for="section">Section</label>
      <input type="text" class="form-control" id="section" name="section" value="{{ section }}" />
      <label for="topic">Topic</label>
      <input type="text" class="form-control" id="topic" name="topic" value="{{ topic }}" />
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>

<br />
<br />

<form action="/deleteTopic/{{ topic }}" method="POST" color="red">
  <button type="submit" class="btn btn-danger" value="delete">Delete</button>
</form>
{% endblock %}
