{% extends "layout.html" %} {% block title %} Index {% endblock %} {% block main %}
<div class="col">
  <div class="row">
    <div class="col-md-6">
      <div class="text-start">
        <h2 class="m-2">Instructions</h2>
        <h4 class="m-2">
          1. Take a Course<br />
          2. Write Flashcards<br />
          3. Quiz Daily<br />
          4. Repeat until no questions are offered<br />
          5. Mastered Quizzes are no longer listed <i class="bi bi-mortarboard-fill text-info"></i><br />
        </h4>
      </div>
      <div class="card">
        <img
          class="m-3"
          src="/static/Awakening.jpeg"
          title="Awakening by Stephanie Dryby https://www.instagram.com/stephaniedyrby/" />
      </div>
    </div>
    <div class="d-grid col text-start">
      <div class="card cardlist">
        {% if topics_by_section %}
        <h2 class="m-2">Quiz Topics!</h2>
        {% for section, topics in topics_by_section.items() %}
        <div class="row m-2">
          <div class="col-lg-12">
            <h3 class="section-header">{{ section }}</h3>
            <div class="row">
              {% for topic_info in topics %} {% set topic = topic_info.topic %}
              <div class="col-md-8">
                <a href="/question/{{ section }}/{{ topic }}" class="btn btn-outline-dark btn-block topic-header"
                  >{{ topic }}</a
                >
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
