{% extends "layout.html" %} {% block title %} List {% endblock %} {% block main %} {% for topic,count in counts.items()
%}
<div class="row">
  <div class="col-lg-12">
    <div class="accordion accordion-flush" id="accordionFlush{{ topic }}">
      <div class="accordion-item">
        <div class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            {% set safe_topic = topic|replace(" ", "_")|replace("(", "")|replace(")", "")|replace("-", "_") %}
            data-bs-target="#{{ safe_topic }}"
            aria-expanded="false"
            aria-controls="{{ safe_topic }}">
            <h2>{{ topic }}</h2>
          </button>
        </div>
        <div id="{{ safe_topic }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush{{ safe_topic }}">
          <div class="container ms-0">
            <h4 class="row text-start col-12">{{ count }} Questions
            <a class="row text-start col-12" href="{{ url_for('editTopic', topic=topic) }}">Edit Topic</a></h4>
          </div>
          <div class="accordion-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">id</th>
                  <th class="text-center">Score</th>
                  <th class="text-center">Question</th>
                  <th class="text-start">Answer</th>
                  <th class="text-start">Session</th>
                </tr>
              </thead>
              {% for question in query if question.TOPIC == topic %}
              <tbody>
                <tr>
                  <td class="text-center">
                    <a href="{{ url_for('edit', id=question.id) }}">{{ question.id }}</a>
                  </td>
                  <td class="text-center">{{ question.SCORE }}</td>
                  <td class="text-start">{{ question.QUESTION }}</td>
                  <td class="text-start">{{ question.ANSWER }}</td>
                  <td class="text-center">{{ question.SESH }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
