{% extends "layout.html" %} {% block title %} List {% endblock %} {% block main %} {% for topic,count in counts.items()
%}
<div class="row">
  <div class="col-sm-1">
    <div class="btn btn-outline-dark">
      <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-pen"
          viewBox="0 0 16 16">
          <path
            d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z" /></svg
      >
    </div>
  </div>
  <div class="col-lg-11">
    <div class="accordion accordion-flush" id="accordionFlush{{ topic }}">
      <div class="accordion-item">
        <div class="accordion-header">
          <button
            href="{{ url_for('editTopic', topic=topic) }}"
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{ topic }}"
            aria-expanded="false"
            aria-controls="{{ topic }}">
              <h2>{{ topic }}</h2>
          </button>
        </div>
        <div id="{{ topic }}" class="accordion-collapse collapse" data-bs-parent="#accordionFlush{{ topic }}">
          <br>
          <h4 class="text-start ps-4">{{ count }} Questions</h4>
          <div class="accordion-body">
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">id</th>
                  <th class="text-center">Score</th>
                  <th class="text-center">Question</th>
                  <th class="text-start">Answer</th>
                  <th class="text-start">Session</th>
                </tr>
              </thead>
              {% for question in query if question.TOPIC == topic %}
              <tbody>
                <tr>
                  <td class="text-center">
                    <a href="{{ url_for('edit', id=question.id) }}">{{ question.id }}</a>
                  </td>
                  <td class="text-center">{{ question.SCORE }}</td>
                  <td class="text-start">{{ question.QUESTION }}</td>
                  <td class="text-start">{{ question.ANSWER }}</td>
                  <td class="text-center">{{ question.SESH }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
