{% extends "layout.html" %} {% block title %} {{ query.topic }} : {{ query.id }} {% endblock %} {% block main %}

<div style="display: flex; flex-direction: column; justify-content: center; height: 75vh">
  <h2
    id="question"
    class="btn btn-outline-dark btn-lg btn-block"
    style="width: 100%"
    data-bs-toggle="collapse"
    href="#collapseExample"
    role="button"
    aria-expanded="false"
    aria-controls="collapseExample">
    <div style="white-space: pre-wrap">{{ query.question|safe }}</div>
  </h2>
  <div class="collapse card" id="collapseExample">
    <div class="card-body">
      <h2 id="answer" class="card-title" style="white-space: pre-wrap">{{ query.answer|safe }}</h2>
      <br />
      <form action="/answer/{{ query.topic }}/{{ query.id }}" method="POST">
        <button name="score" value="3" class="btn btn-primary">Again</button>
        <button name="score" value="2" class="btn btn-secondary">Hard</button>
        <button name="score" value="1" class="btn btn-success">Good</button>
        <button name="score" value="0" class="btn btn-info">Easy</button>
      </form>
    </div>
  </div>
  <div>
    <p>{{ query.topic}} Question # {{ query.id }}</p>
  </div>
</div>
{% endblock %}
