{% extends "layout.html" %} {% block title %} {{ query.topic }} : {{ query.id }} {% endblock %} {% block main %}

<div id="question-box" class="container mt-5">
  <h2 id="question-text" class="text-start m-2">Question</h2>
  <div class="card">
    <div class="card-body">
      <h3 class="text-start">{{ query.question|safe }}</h3>
      <button
        id="answer-button"
        class="btn btn-outline-dark btn-lg float-end mt-3"
        data-bs-toggle="collapse"
        href="#collapseExample"
        role="button"
        aria-expanded="false"
        aria-controls="collapseExample"
        onclick="revealAnswer()">
        Show Answer &#x2B07;
      </button>
    </div>
  </div>
  <h2 id="answer-text" class="text-start m-2" style="display: none">Answer</h2>
  <div class="collapse card" id="collapseExample">
    <div class="card-body">
      <h3 class="text-start" id="answer">{{ query.answer|safe }}</h3>
      <br />
      <form action="/answer/{{ query.topic }}/{{ query.id }}" method="POST">
        <button name="score" value="3" class="btn btn-primary">Again</button>
        <button name="score" value="2" class="btn btn-secondary">Hard</button>
        <button name="score" value="1" class="btn btn-success">Good</button>
        <button name="score" value="0" class="btn btn-info">Easy</button>
      </form>
    </div>
  </div>
  <div class="mt-3">
    <p>{{ query.topic}} Question # {{ query.id }}</p>
  </div>
</div>

<script>
  function revealAnswer() {
    var button = document.getElementById("answer-button");
    button.innerHTML = "Answer Revealed";
    button.classList.add("disabled");
    button.setAttribute("aria-disabled", "true");

    var answerText = document.getElementById("answer-text");
    answerText.style.display = "block";
  }
</script>
{% endblock %}
